body{
	background-image: url('../images/leather2.jpg');

}

header{
	position: fixed;
	margin: auto;
	width: 100%;
	z-index: 100000;
	background-image: url('../images/quicksilver.png');
    height: 140px; 
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
	padding-left: 30px;
	border: rgb(253, 253, 180);
	border-width: 5px;
	color: rgb(253, 253, 180);

}



#name{
	font-size: 50px;
	color: #1a0d00;
	display: inline-block;
}

#job_title{
	display: inline-block;
	float: right;
}

#main{
	margin-top: 250px;
	background-color: rgba(255, 255, 204, 0.35);
}


#intro{
	margin-top: 100px;
	padding-right: 40px;
	color: rgb(253, 253, 180);
	text-align: justify;
}



.project{
	
	margin: 15px 0px 15px 1px;
	padding: 5px;
	
	color: rgb(253, 253, 180);
}

.project-img{
	padding-top: 5px;
	float: right;
	width: 60%;
}

.project-title{
	margin-top: 40px;
}

.project-desc{
	width: 35%;
}

#contact{
	
	position: fixed;
	margin: 20% 2% 0% 88%;
	background-color: rgba(255, 255, 204, 0.35);
	color: #1a0d00;
	width: 10%;
	border-radius: 5px;
	padding: 2px 2px 2px 18px;
	line-height: 200%;
	/*border-top-color: solid rgb(253, 253, 180);*/
	

}

#alert{
	position: fixed;
	margin: 14% 1% 0% 72%;
	width: 24%;
	
}
#email_alert{
	
	background-color: rgba(255, 255, 204, 0.35);
	color: rgb(253, 253, 180);
	border-radius: 5px;
	padding: 1%;
	line-height: 200%;
}

#contact img{
	
	margin-bottom: 14px;
	border-bottom: 1px solid #555;
}


#list-linked{
	line-height: 100%;
}

footer{
	background-color: rgba(255, 255, 204, 0.25);
	height: 140px;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 100px;
	padding-top: 10px;
}

.footer-content{
	margin-left: 15%;
}